# Virtual Environment
.venv/
venv/

# Caches
__pycache__/
.pytest_cache/
.coverage
model_cache/

# Fichiers lourds et données
finBERT*/
data*/
.git/lfs/
htmlcov/

# Logs volumineux
*.log

# IDE
.idea/
.vscode/

# OS
.DS_Store
